/KCopy/KCopy.vcxproj.user
.vs/
KCopy/x64/Debug/KCopy.ilk
KCopy/x64/Debug/KCopy.log
KCopy/x64/Debug/KCopy.obj
KCopy/x64/Debug/PathUtilFn.obj
KCopy/x64/Debug/vc142.idb
KCopy/x64/Debug/vc142.pdb
KCopy/x64/Debug/KCopy.tlog/CL.command.1.tlog
KCopy/x64/Debug/KCopy.tlog/CL.read.1.tlog
KCopy/x64/Debug/KCopy.tlog/CL.write.1.tlog
KCopy/x64/Debug/KCopy.tlog/KCopy.lastbuildstate
KCopy/x64/Debug/KCopy.tlog/link.command.1.tlog
KCopy/x64/Debug/KCopy.tlog/link.read.1.tlog
KCopy/x64/Debug/KCopy.tlog/link.write.1.tlog
KCopy/x64/Release/KCopy.iobj
KCopy/x64/Release/KCopy.ipdb
KCopy/x64/Release/KCopy.log
KCopy/x64/Release/KCopy.obj
KCopy/x64/Release/PathUtilFn.obj
KCopy/x64/Release/vc142.pdb
KCopy/x64/Release/KCopy.tlog/CL.command.1.tlog
KCopy/x64/Release/KCopy.tlog/CL.read.1.tlog
KCopy/x64/Release/KCopy.tlog/CL.write.1.tlog
KCopy/x64/Release/KCopy.tlog/KCopy.lastbuildstate
KCopy/x64/Release/KCopy.tlog/link.command.1.tlog
KCopy/x64/Release/KCopy.tlog/link.read.1.tlog
KCopy/x64/Release/KCopy.tlog/link.write.1.tlog
x64/Debug/KCopy.pdb
x64/Release/KCopy.pdb
KCopy/x64/Debug/KCopy.Build.CppClean.log
KCopy/x64/Debug/KCopy.exe.recipe
KCopy/x64/Debug/KCopy.vcxproj.FileListAbsolute.txt
KCopy/x64/Release/KCopy.Build.CppClean.log
KCopy/x64/Release/KCopy.exe.recipe
KCopy/x64/Release/KCopy.vcxproj.FileListAbsolute.txt
x64/Debug/KCopy.exe
x64/Debug/KCopy.ilk
KCopy/x64/Release/StringUtil.obj
